@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'inter';
}
h2{
    font-family: 'inter';
    font-weight: 800;
}
h2,p{
    text-align: center;
}
.form-check-input:checked {
        background-color: black;
}
.btn{
    margin-right: 20px;
}